// Variables
@import "variables";

// Mixins
@import "mixins";

// Partials
@import "./partials/heading";
@import "./partials/todos-container";

html,
body,
.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    background-color: $grey;
    font-family: Helvetica;
    @include flex(center, flex-start, column);
}